trigger:
- master
- create-odata-cli-pipeline

name: 'OData CLI'

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  rootDir: '$(Build.SourcesDirectory)'
  sln: '$(rootDir)\OData.Cli.sln'
  signigConfigPath: '$(rootDir)\configs'
  signingConfigFiles: '*.*'
  productBinPath: '$(rootDir)\src\Microsoft.OData.Cli\bin\$(BuildConfiguration)'
  productFiles: 'odata-cli.*?(*.dll|*.config|*.pdb)'
  nupkgPath: '$(Build.ArtifactStagingDirectory)'
  nupkgFile: 'odata-cli.0.1.0.nupkg'
  signingFiles: 'odata-cli.dll'
  mainDll: 'odata-cli.dll'
  snExe: 'C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.8 Tools\sn.exe'
  snExe64: 'C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.8 Tools\x64\sn.exe'

stages:
- stage: Build

  jobs:
  - job: Build
    steps:

    - task: NuGetToolInstaller@0
      inputs:
        versionSpec: '>=5.2.0'

    - task: NuGetCommand@2
      displayName: 'Nuget restore - OData.Cli.sln'
      inputs:
        restoreSolution: '$(sln)'

    - task: VSBuild@1
      displayName: 'Build solution - OData.Cli.sln'
      inputs:
        solution: '$(sln)'
        platform: '$(buildPlatform)'
        configuration: '$(buildConfiguration)'

    - task: NuGetCommand@2
      displayName: 'Pack Microsoft.OData.Cli package'
      inputs:
        command: pack
        packagesToPack: 'src/Microsoft.OData.Cli/Microsoft.OData.Cli.csproj'
        packDestination: '$(Build.ArtifactStagingDirectory)'
        
    - task: CopyFiles@2
      displayName: 'Copy Files - NuGet package to Artifacts Staging'
      inputs:
        SourceFolder: '$(Build.ArtifactStagingDirectory)'
        Contents: 'odata-cli.0.1.0.nupkg'
        TargetFolder: '$(Build.ArtifactStagingDirectory)\Nupkg'
        OverWrite: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact - Nupkg'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)\Nupkg'
        ArtifactName: 'Nupkg'
        publishLocation: 'Container'

    - publish: configs
      displayName: Publish Signing Scripts
      artifact: configs

    - task: DotNetCoreCLI@2
      displayName: 'Publish OData Cli'
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: 'src/Microsoft.OData.Cli/Microsoft.OData.Cli.csproj'
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)\Microsoft.OData.Cli'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact - Publish output'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)\Microsoft.OData.Cli'
        ArtifactName: PublishedCli
        publishLocation: 'Container'
  
- stage: CodeSign
  jobs:
  - deployment: CodeSign
    displayName: Code Signing
    pool:
      vmImage: windows-latest    
    environment: Code Sign - Approvals
    variables:
    - group: Code Signing
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DotNetCoreCLI@2
            inputs:
              command: custom
              custom: tool
              arguments: install --tool-path . SignClient
            displayName: Install SignTool tool
          
          # Sign the vsix archive as well as files contained in the vsix that are listed in config/filelist.txt
          # For more info about the SignClient tool, visit: https://github.com/dotnet/SignService
          - pwsh: |
              .\SignClient "Sign" `
              --baseDirectory "$(Pipeline.Workspace)\Nupkg" `
              --input "$(nupkgFile)" `
              --output "$(Build.ArtifactStagingDirectory)\SignedNupkg" `
              --config "$(Pipeline.Workspace)\configs\SignClient.json" `
              --filelist "$(Pipeline.Workspace)\configs\filelist.txt" `
              --user "$(SignClientUser)" `
              --secret "$(SignClientSecret)" `
              --name "OData CLI" `
              --description "OData CLI" `
              --descriptionUrl "https://github.com/OData/ODataConnectedService" 
            displayName: Code signing - Nupkg

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifact - Nuget Packages'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)\SignedNupkg'
              ArtifactName: SignedNupkg
              publishLocation: 'Container'
          - task: DotNetCoreCLI@2
            displayName: "Push CLI NuGet tool to internal ODataTools feed"
            inputs:
              command: 'push'
              packagesToPush: '$(Build.ArtifactStagingDirectory)/SignedNupkg/*.nupkg'
              nuGetFeedType: 'internal'
              publishVstsFeed: '2cfe7ec3-b94f-4ab9-85ab-2ebff928f3fd/da435b6d-7e7b-4430-be03-48d29e1eeee8'

