<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.OData.Edm" version="7.5.0" targetFramework="net46" />
  <package id="Microsoft.OpenApi" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.OpenApi.OData" version="1.0.0-beta5" targetFramework="net46" />
</packages>