<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.OData.Client" version="7.6.3" targetFramework="net472" />
  <package id="Microsoft.OData.Core" version="7.6.3" targetFramework="net472" />
  <package id="Microsoft.OData.Edm" version="7.6.3" targetFramework="net472" />
  <package id="Microsoft.Spatial" version="7.6.3" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="15.7.27703" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.ConnectedServices" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.0.26201" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.240" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NuGet.VisualStudio" version="4.0.0" targetFramework="net45" />
  <package id="stdole" version="7.0.3302" targetFramework="net472" />
  <package id="VSLangProj" version="7.0.3301" targetFramework="net472" />
</packages>